<div id="pageFooter">
  <div id="quickLinks">
    <h1>Quick Nav</h1>

    <%
        quick_nav = [
          ['Home', '/', 'Our home page'],
          ['Tours', '/tours.html', 'Explore our tours'],
          ['Mission', '/mission.html', 'What we think'],
          ['Resources', '/resources.html', 'Guidance and planning'],
          ['Explorers', '/explorers.html', 'Join our community'],
          ['Contact', '/contact.html', 'Contact and support']
        ]
    %>

    <ul id="quickNav">
    <% quick_nav.each do |item| %>
      <li>
          <a href="<%= item[1]%>" title="<%= item[2]%>">
              <%= item[0]%>
          </a>
      </li>
    <% end %>
    </ul>
  </div>
  <div id="footerResources">
    <h1>Resources</h1>
    <ul id="quickNav">
      <li><a href="resources/faq.html" title="Our home page">FAQ</a></li>
      <li><a href="support.html" title="Need help?">Support</a></li>
      <li><a href="resources/legal.html" title="The fine print">Legal</a></li>
    </ul>
  </div>
  <div id="companyInfo">
    <h1>Contact</h1>
    <h2>Explore California</h2>
    <p>5605 Nota Street<br />
      Ventura, CA 93003</p>
    <p>866.555.4310<br />866.555.4315 <em>(24 hour support)</em></p>
  </div>
</div>
</div>
</body>
</html>
